.coin-container{
    display:flex;
    justify-content: center;
}

.coin-row {
    display: flex;
    flex-direction: row;
    justify-items: start;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #d7d7d7;
    width: 980px;
}

.coin {
    display: flex;
    align-items: center;
    padding-right: 24px;
    min-width: 300px;
}

.coin h1 {
    font-size: 16px;
    width: 150px;

}

.coin img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.coin-symbol {
    text-transform: uppercase;
}

.coin-data {
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 100%;
}

.coin-price {
    width: 110px;
}

.coin-volume {
    width: 230px;
}

.coin-marketcap{
    width:150px;
}

.coin-percent {
    width: 100%
}

.coin-percent-red {
    color: #cc1111
}

.coin-percent-green {
    color: rgb(25, 183, 25);
}

.view-coin {
  background: linear-gradient(#5537ff, #6dd5ed);
  color: #fff;
  display: flex;
  align-items: center;
  margin: 5px;
  height: 42px;
  width: 72px;
  border: 1px solid rgb(17, 180, 255);
  border-radius: 5px;
  padding: 5px;
  box-shadow: 3px 4px rgb(4, 64, 68);
}
a {
  text-decoration: none !important;
}

.view-coin:hover {
  background: linear-gradient(#37ffe8, #5522fb);
  color: #fff;
  display: flex;
  align-items: center;
  margin: 5px;
  height: 42px;
  width: 72px;
  border: 1px solid rgb(17, 180, 255);
  border-radius: 5px;
  cursor: pointer;
}
